
    *{
        margin: auto;
    }
    .navbar{
        display: flex;
        background-color: rgba(247, 244, 244, 0.713);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        height: 50px;
        /* padding: 10px; */
    }
    .navbar .nav-list{
        display: flex;
        list-style: none;
    }

    .navbar .nav-list div span{
        margin-left: 50px;
        color: #40196d;
        font-weight: bolder;
        font-size: 13.5px;
        text-decoration: none;
    }

    .navbar .nav-list .dropdown p a{
      color: black;
      letter-spacing: 1;
      font-weight: light;
      font-size: 16px;
      text-decoration: none;
  }



    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

      
      .navbar .sign-up span {
        margin-right: 20px;
        color: #40196d;
        font-weight: bolder;
        font-size: 14px;
      }

      .navbar .sign-up span a{
      text-decoration: none;
      color: #40196d;
      }
      .navbar .sign-up button a{
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 12.5px;
        }
      .navbar .sign-up button {
        height: 39px;
        width: 115px;
        border-radius: 10px;
        background-color: #40196d;
        border: 0px;
      }

      .navbar .logo{
        margin-left: 100px;
        margin-top: 15px;
      }

/* Second Div "Join" Styling */
      .join{
        display: flex;
        /* margin-right: 200px; */
        /* width: 80%; */
        margin-top: 100px;
      }     
      .join .join-image{
        margin-left: 100px;
      }
      .join .join-text{
        margin-top: 100px;
      }


      .join .join-text h1{
        font-size: 50px;
        letter-spacing: 1px;
        font-weight: 900;
        color: #40196d;
      }
      .join .join-text p{
        margin-top: 10px;
        font-size: 15;
        font-weight: bold;
        color: rgb(40, 39, 39);
        }
      .join .join-text img{
            margin-top: 20px;
            margin-left: 30px;

          }

      

        /* Styling Cards */

        .cards{
            width: 80%;
            margin-top: 150px;
            display: flex;
        }

        .cards div{
            width: 500px;
            height: 120px;
            margin: 5px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }
        .cards div img{
            position: relative;
            width: 150px;
            height: 150px;
            margin-top: 0px;
            bottom: 40px;
            right: 40px;
        }
        .cards div p{
            position: relative;
            margin-top: 0px;
            bottom: 80px;
            /* right: 40px; */
            width: 300px;
            font-weight: 900;
            font-size: 15.5px;
            color: #40196d;
        }


               /* Ninth Div "about" Styling */

               .about{
                display: flex;
                width: 80%;
                background-color: rgba(247, 244, 244, 0.713);
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                margin-top: 100px;
               }

               .about .logo{
                /* margin-left: 100px; */
                margin-top: 15px;
              }
              .about div ul{
                list-style: none;
              }
              .about div ul li{
                padding: 8px;
                font-size: 15px;
              }
              .about div ul .top{
                color: #40196d;
                font-weight: bolder;
                font-size: 20.5px;
                
              }
   

              /* Styling Login Page */


              .navbar .login button a{
                text-decoration: none;
                color: #40196d;
                font-weight: bolder;
                font-size: 12.5px;
                }
              .navbar .login button {
                margin-left: 400px;
                height: 43px;
                width: 135px;
                border-radius: 10px;
                background-color: #d1d3e2;
                
              }
        

              /* Join Div */
              .join-login{
                display: flex;
            
              }     
            
              .join-login .join-text{
                margin-top: 50px;
              }
              .join-login .join-text .url{
               background-color: #d1d3e2;
               width: 65%;
               height: 30px;
               padding: 5px;
               border-radius: 5px;
              }
        
              .join-login .join-text p{
                margin-top: 5px;
                font-size: 16px;
                /* opacity: 0.4; */
                }
                .join-login .join-text .url p a{
                  font-weight: bolder;
                  }

                  .form-div{
                    /* width: 80%; */
                    padding: 50px 50px 0 50px;
                    margin-top: 50px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    background-color: #f1f2f8;
                    height: 450px;
                  }

                  .form-div h3{
                    color: #40196d;
                    font-size: 20px;
                    font-weight: bold
                  }

                  .form-div form{
                    margin: 20px 0 20px 0;
                  }

                  .form-div button{
                    margin-top: 20px;
                    text-decoration: none;
                    background-color: #40196d;
                    font-weight: bolder;
                    height: 39px;
                    width: 115px;
                    border-radius: 10px;
                    border: 0px;
                    font-size: 12.5px;
                    opacity: 0.4;
                  }
                  .form-div button a{
                    color: white;
                    text-decoration: none;
                  }
                  .form-div p{
                    font-size: 16px;
                    opacity: 0.5;
                  }

                  .form-div form p span{
                    color: #40196d;
                    font-weight: bold;
                  }


                  .form-div form label{
                    margin-top: 10px;
                    font-size: 16.5px;
                    font-weight: bold;
                    opacity: 0.5;
                  }
                  .form-div form input{
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    background-color: #f1f2f8;
                    width: 300px;
                    border: 0px;
                    height: 25px;
                    padding: 10px;
                    border-radius: 5px;
                  }


        